.App {
  text-align: center;

#quote-box{
  padding: 25px;
  background-color: white;
  border-radius: 20px;
  color: white;
}

#author {
  text-align: end;
  padding: 20px;
}

#leftQuotation {
  padding-right: 2%;
  float: left;
}

#rightQuotation {
  padding-left: 2%;
  float: right;
}

#new-quote {
  color: white;
  float: right;
  padding: 2%;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-family: 	Arial;
}

#tweet-quote {
  color: white;
  float: left;
  padding: 1%;
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
}